# Env variables for development.
# Copy this file to .env and fill with credentials. Never add .env to git! Protect your secrets.

# Environment, usually this is 'development' when it comes from the .env file but you can change it to 'production' for testing (just don't save .env to git)
NODE_ENV=development

# Debug is for running the API locally
DEBUG=true

# Mongodb connection string
MONGO_HOST=mongodb://localhost/itunes-epf

# Server port
PORT=5000

# Domain where you can find your server. This is used in emails to be able to link to webpages of your project. This could be your API server URL or your frontend URL.
DOMAIN=https://example.com

# Mailgun for email handling. Leave empty or remove it if you don't want to load Mailgun. But then you can't send mails ofcourse.
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# Default email "from" address for all sent mails.
EMAIL_FROM_ADDRESS=noreply@example.com

# Development target email address for all mails
EMAIL_DEV_ADDRESS=me@example.com

# Sentry authentication URL. Leave empty if you don't want to use Sentry.
SENTRY_URL=

# AWS credentials, only needed for logging
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=

# Log group where AWS CloudWatch should sent logs to. Leave empty to disable logging.
AWS_LOG_GROUP=

# iTunes EPF Username as provided by Apple
EPF_USERNAME=

# iTunes EPF Password
EPF_PASSWORD=
